<a href="https://colab.research.google.com/github/jcsnuesi/altura-promedio/blob/main/Altura_promedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [245]:
from google.colab import drive
drive.mount('content/')

Drive already mounted at content/; to attempt to forcibly remount, call drive.mount("content/", force_remount=True).

In [246]:
import pandas as pd 
import numpy as np

In [247]:
df = pd.read_csv('/content/content/MyDrive/Colab Notebooks/athleteEventsNoPersonal.csv')
df

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
40611,135567,28.0,183.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
40612,135570,27.0,176.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
40613,135570,27.0,176.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
40614,135571,30.0,185.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
40615,135571,34.0,185.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [248]:
# a. ¿Cuántas filas hay?
#40616
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

In [249]:
# b. ¿Cuántas columnas hay?
len(df.columns)

12

In [250]:
# c. ¿A qué columnas le faltan datos? (¿Por qué creen que hay muchos valores nulos en la columna Medals (medallas)?
# Age, Height, Medal
df['Age'].isna().value_counts()

False    39143
True      1473
Name: Age, dtype: int64

In [251]:
def meadAgebyCountry(df):
     nonan = df.Age.isna() == False
     ned = df.Age.isna()
     cty = df.NOC.unique()
     
     for i in range(0,len(cty)):
      searcher = df.NOC == cty[i]
      res = df.loc[nonan & searcher,'Age'].mean()
      df.loc[searcher & ned, 'Age'] = res
         
     return df


response = meadAgebyCountry(df)
response.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     40615 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

In [252]:
naage =  df.Age.isna()
df = df.drop(df.index[9164], axis=0)
df['Age'] = df['Age'].astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40615 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40615 non-null  int64
 1   Age     40615 non-null  int64
 2   Height  31615 non-null  float64
 3   Team    40615 non-null  object
 4   NOC     40615 non-null  object
 5   Games   40615 non-null  object
 6   Year    40615 non-null  int64
 7   Season  40615 non-null  object
 8   City    40615 non-null  object
 9   Sport   40615 non-null  object
 10  Event   40615 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.0+ MB

SE PROCEDIO A CAMBIAR EL TIPO DE DATO DE LA COLMNA AGE PARA ELIMINAR LOS DECIMALES.

In [253]:
def meadheightbyCountry(df):
     h_nonan = df.Height.isna() == False
     h_ned = df.Height.isna()
     h_cty = df.NOC.unique()
     
     for i in range(0,len(h_cty)):
      searcher = df.NOC == h_cty[i]
      res = df.loc[h_nonan & searcher,'Height'].mean()
      df.loc[searcher & h_ned, 'Height'] = res
      df['Height'] = df['Height'].round(2)
         
     return df


response = meadheightbyCountry(df)
response.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40615 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40615 non-null  int64
 1   Age     40615 non-null  int64
 2   Height  40547 non-null  float64
 3   Team    40615 non-null  object
 4   NOC     40615 non-null  object
 5   Games   40615 non-null  object
 6   Year    40615 non-null  int64
 7   Season  40615 non-null  object
 8   City    40615 non-null  object
 9   Sport   40615 non-null  object
 10  Event   40615 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.0+ MB

In [254]:
silver = df['Year'] == 1994
sport = df.Sport == 'Alpine Skiing'
df.loc[silver & sport,:].count()

ID        96
Age       96
Height    96
Team      96
NOC       96
Games     96
Year      96
Season    96
City      96
Sport     96
Event     96
Medal      3
dtype: int64

Luego de hacer un exhautivo analisis, note que los valores NaN de la colmna MEDAL son debido a que de las 96 competencias celebradas se le debia colocar 32 bronze, 32 silver y 32 gold para completar debidamente estos campos en donde cada pais gano en la posicion X que no fue asignada en la columna MEDAL.

In [255]:
# df.Height.isna()
def fillheight(ht):
  sr_event = df.Event == ht
  h1_nanis = df['Height'].isna()
  h1_val = df['Height'].isna() == False

  # df.loc[h1_nanis, 'Height']

  HeightNew = df.loc[h1_val & sr_event, 'Height'].mean()
  
  return HeightNew


h_nanis = df['Height'].isna()
repl = df.loc[h_nanis, :]
df.loc[h_nanis, 'Height'] =  repl.apply(lambda x: fillheight(x['Event']), axis=1)
df.info()
# df.isna()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40615 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40615 non-null  int64
 1   Age     40615 non-null  int64
 2   Height  40615 non-null  float64
 3   Team    40615 non-null  object
 4   NOC     40615 non-null  object
 5   Games   40615 non-null  object
 6   Year    40615 non-null  int64
 7   Season  40615 non-null  object
 8   City    40615 non-null  object
 9   Sport   40615 non-null  object
 10  Event   40615 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.0+ MB

El la funcion anterior terminamos de reemplazar los valoes NAN de la columna Height, para esto tomamos la columna Event para seleccionar la columna Height con valores, encontrar la media y reemplazar el valor NAN de la columna Height por la media de la altura en funcion del evento que el atleta pertenece.

In [256]:
#  d. ¿Cuántas entradas corresponden a la ciudad de Londres?
londres = df.City == 'Londres'
df.loc[londres,:].count()

ID        0
Age       0
Height    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

0 ENTRADAS CORRESPONDEN A LONDRES.

In [257]:
#    a. ¿Cuántos atletas que participaron en el deporte "Tug-Of-War" (tira y afloja) pertenecían en el equipo “Sweden” (sueco) en el conjunto de datos de muestra?
atl_cat =  df.Event == "Tug-Of-War"
origin =  df.Team == "Sweden"
df.loc[atl_cat & origin, :].value_counts()

Series([], dtype: int64)

0 atleta de Sweden participo en "Tug-Of-War"

In [258]:
#   b. ¿Cuántas medallas de oro se le entregaron a los atletas que tenían más de 40 años?
metal_gol = df.Medal == "Gold"
age_40 = df.Age > 40
df.loc[metal_gol & age_40,"Team"].count()

66

La cantidad de medallas entregadas a los atletas con mas de 40 años es 66.

In [259]:
  # a. Todas las filas incluidas.
avg_h = np.array(df.loc[:,['Height']])
np.mean(avg_h).round()

176.0

In [260]:
# b. Todas las filas incluidas, pero agrupadas por Event (evento).
avg_h1 = np.array(df.loc[:,['Height']])
gby = df.groupby('Height')['Height'].mean().round()
gby

Height
135.0    135.0
136.0    136.0
139.0    139.0
140.0    140.0
142.0    142.0
         ...
214.0    214.0
215.0    215.0
219.0    219.0
220.0    220.0
221.0    221.0
Name: Height, Length: 256, dtype: float64

In [261]:
# c. Bono: Este conjunto de datos contiene muchos atletas más de una vez (si compitieron en varios eventos y/o varios años). Pueden confirmarlo encontrarlo .value_counts en la columna ID.  Para la tarea del bono queremos que obtengan la altura promedio de todos los atletas, pero sin incluir algún atleta más de una vez.  Pista: Aprendimos cómo eliminar duplicados si CADA columna fuera idéntica, sin embargo, ahora tenemos que eliminar una fila cada vez que un ID se repite.  Para hacer eso, pueden usar un subconjunto de sus datos como un argumento en la función drop_duplicates.  También le pueden decir a Python cuales duplicados mantener usando el argumento keep.
df = df.drop_duplicates('ID', keep='first')
df.loc[:, 'Height'].value_counts()

180.000000    986
170.000000    827
178.000000    780
175.000000    764
183.000000    614
             ...
172.499500      1
177.210000      1
177.205312      1
173.930957      1
178.220000      1
Name: Height, Length: 238, dtype: int64

In [262]:
medals = df.Medal.isna()
df.loc[medals, 'Medal'] = 'Missing'
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,Missing
6,6,31,188.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,Missing
14,12,31,172.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,Missing
15,30,26,189.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver
17,36,21,194.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Butterfly,Missing
...,...,...,...,...,...,...,...,...,...,...,...,...
40604,135553,21,168.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold
40609,135558,32,200.0,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,Missing
40610,135567,24,183.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,Missing
40612,135570,27,176.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",Missing
40614,135571,30,185.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,Missing